- 
	var main = {
		title: "Рассчитайте пассивный доход",
		currency: {
			us: "USD",
			ua: "UAH"
		},
		firstRange: {
			title: "Сумма",
			min: "1000",
			max: "100000",
			value: "0"
		},
		secondRange: {
			title: "Срок",
			min: "3",
			max: "36",
			value: "0"
		},
		paymentOption: {
			title: "Выплата процентов",
			option1: "ежемесячно",
			option2: "в конце срока"
		},
		rate: {
			title: "Процентная ставка",
			num: "0",
			mask: "зависит от срока, валюты и формата выплаты процентов"
		},
		result:{
			title: "Ваш пассивный доход",
			total: {
				sum: "120 500",
				mask: "за весь срок вложения"
			},
			perMonth: {
				sum: "1 500",
				mask: "ежемесячно"
			}
		},
		button: "Инвестировать"
	}