$mainFont = 'PF Din Text Cond Pro'
$titleFont = 'PF Din Text Comp Pro'
$textColorDark = #313131
$textColorLight = white
$textColorLight2 = #b1b1b1
$bgColorDark = #313131
$bgColorLight = white
$toneColor = #de6290